@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');
html{
    scroll-behavior: smooth;
    scrollbar-color:#b5855b rgb(234, 221, 202);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
}

/*Header*/
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: transparent;

    padding: 35px 42px;
    box-sizing: border-box;
    align-items: center;
    z-index: 10000; 
    margin-bottom: -60px;
    position: relative;
}
.logo{
    background-color: rgb(197, 231, 162);
    height: 60px;
    border-radius: 50px;
}
.btnHeader{
    outline: none;
    color: #DAA06D;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px dashed #DAA06D;
    border-radius: 15px;
    background-color: #EADDCA;
    box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out;
}
.btnHeader:hover{
    transform: translateX(0.1rem) translateY(0.1rem);
}

/*Hero*/
.hero{
    background-image: url('/img/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;   
    margin-top: -100px;   
    top: 0;      
}
.imgHero{
    height: 500px;
    width: 600px;
    margin-left: auto;
}
.imgHero img{
    max-width: 100%;
}
.aboveInfo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboveInfo h5{
    font-weight: 600;
    margin-right: 40px;
    margin-left: 20px;
    font-family: "Spirax", system-ui;
}
.imgAbove{
    height: 40px;
}
.imgAbove:hover{
    animation: chacoalhar 1.7s ease-in-out infinite;
}

@keyframes chacoalhar {
    0% { transform: translateX(0) rotate(0deg); }
    25% { transform: translateX(-6px) rotate(-25deg); } 
    50% { transform: translateX(6px) rotate(25deg); }   
    75% { transform: translateX(-3px) rotate(-9deg); }  
    100% { transform: translateX(0) rotate(0deg); }
}


/*Flip cards and info*/
.cardsFlips{
    background-color: #be8a67;
    padding: 100px;
}
.textInfo{
    max-width: 800px;
    margin: 0 auto 40px auto;
}
.textInfo p{
    color: #35200d;
}
.textInfo span{
    font-family: "Spirax", system-ui;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 40px;
    color: rgb(68, 105, 39);
}
.flipImages{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.flipCard{
    background-color: transparent;
    width: 330px;
    height: 460px;
    perspective: 1000px;
}
.flipCardFront img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flipCardInner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flipCard:hover .flipCardInner{
    transform: rotateY(180deg);
}
.flipCardFront, .flipCardBack{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    border-radius: 8px;
}
.flipCardBack{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DAA06D;
    transform: rotateY(180deg);
    padding-right: 15px;
}
.flipCardBack p{
    padding-left: 20px;
    color: #35200d;
}
.flipCardBack h1{
    font-family: "Spirax", system-ui;
    color: rgb(68, 105, 39);
}
.tooltip{
    position:relative;
    display:inline-block;
    cursor: pointer;
}
.tooltipText{
    visibility: hidden;
    width: 130px;
    background-color: #7d5029;
    color: #EADDCA;
    text-align: center;
    padding: 5px 0;
    border: 2px solid #4f3319;
    border-radius: 6px;
    position: absolute;
    z-index: 10;
    bottom: 105%;
    left: 50%;
    transform: translateX(-50%);
}
.tooltip:hover .tooltipText {
  visibility: visible;
}

/*About*/
.about{
    background-color: #DAA06D;
    padding: 60px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.rightSide {
    flex: 1;
    max-width: 500px;
}
.rightSide img{
    height: auto;
    width: 100%;
}
.leftSide{
    flex: 1;
    max-width: 600px;
}
.leftSide h1{
    font-family: "Spirax", system-ui;
    color: rgb(68, 105, 39);
}
.leftSide p{
    color: #35200d;
}

.imgContainer img{
    background-image: url('https://i.pinimg.com/736x/b4/34/05/b43405a6c6531537ccabb3a57415e69e.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    width: 100%;  
}
.containerAbout1{
    position: relative;
}
.imgContainer1, .imgContainer2, .imgContainer3, .imgContainer4 {
    position: absolute;
    z-index: 990;
}
.imgContainer1{
    top: 18%;
    left: 15%;
}
.imgContainer1 img{
    height: 100px;
}
.imgContainer2 {
    top: 25%;
    left: 58%;
}
.imgContainer2 img{
    height: 100px;
}
.imgContainer3 {
    top: 35%;
    left: 60%;
}
.imgContainer3 img{
    height: 100px;
}
.imgContainer4 {
    top: 45%;
    left: 30%;
}
.imgContainer4 img{
    height: 100px;
}
.list{
    flex: 1;
    max-width: 400px;
}
.list ul{
    padding: 0;
}
.list li{
    display: flex;
    list-style: none;
    margin-bottom: 20px;
    align-items: center;
}
.list span{
    outline: none;
    color: #DAA06D;
    padding: 5px 12px;
    border: 2px dashed #DAA06D;
    border-radius: 15px;
    background-color: #EADDCA;
    margin-right: 20px;
}
.listAbout{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 60px 40px;
}


/*footer*/
.footer{
    background-color: rgb(65, 65, 65);
    bottom: 0;
}
.imgFooterBackround img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.bellowPart img{
    height: 80px;
    width: auto;
}
.bellowPart h1{
    font-size: smaller;
}
.bellowPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Media Queries*/
@media (max-width: 768px){
    header{
        padding: 15px 20px;
    }
    .imgHero {
        max-width: 320px; 
        margin: 0 auto;   
    }
    .hero{
        min-height: 350px;
    }
    .cardsFlips, .about, .listAbout{
        padding: 40px 20px;
    }
    .about{
        flex-direction: column;
        text-align: center;
    }
    .listAbout{
        flex-direction: column;
        gap: 30px
    }
    .imgContainer1 img, .imgContainer2 img, .imgContainer3 img, .imgContainer4 img{
        height: 50px;
    }
    .flipCard{
        max-width: 320px;
    }
}
